<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="images/logo.png" alt="logo" class="d-inline-block align-top">
    </a>

    <!-- Mobile Buttons -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse justify-content-center ms-auto" id="navbarNav">
      <ul class="navbar-nav mx-auto gap-4">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-house fs-5"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-regular fa-building fs-5"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-briefcase fs-5"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-bell fs-5"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-users fs-5"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-comments fs-5"></i></a>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        <!-- Language Selector -->
        <div class="dropdown me-3">
          <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown">
            Francais
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">🇺🇸 English</a></li>
            <li><a class="dropdown-item" href="#">🇫🇷 Français</a></li>
            <li><a class="dropdown-item" href="#">🇳🇱 Nederlands</a></li>
          </ul>
        </div>

        <!-- User profile  -->
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
            <img src="images/default-avatar.webp" height="32" width="32" class="rounded-circle" alt="profile image">
            Djery DIETCHI
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#"><i class="fas fa-user"></i> Profile</a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
          </ul>
        </div>
      </div>

    </div>



  </div>
</nav>
