<div class="card border-1 rounded-4">
  <div class="card-body">
    <div class="d-flex flex-row">
      <img src="images/default-avatar.webp" height="42" width="42" alt="profile image" class="me-2"/>
      <input type="text" [placeholder]="'what_new'| translate" class="form-control py-3 rounded-4" style="cursor: pointer" readonly data-bs-toggle="modal" data-bs-target="#eventModal">
    </div>
  </div>
  <div class="card-footer bg-transparent border-top-0 pt-0 pb-3 px-3">
    <div class="row g-2">
      <div class="col">
        <button class="btn btn-secondary w-100">{{'photos' | translate}}</button>
      </div>
      <div class="col">
        <button class="btn btn-secondary w-100">{{'videos' | translate}}</button>
      </div>
      <div class="col">
        <button class="btn btn-secondary w-100">{{'posts' | translate}}</button>
      </div>
      <div class="col">
        <button class="btn btn-secondary w-100">{{'event' | translate}}</button>
      </div>
      <div class="col">
        <button class="btn btn-secondary w-100">{{'challenge' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<app-event-form></app-event-form>
