<div class="container mt-5">
  <div class="row gy-2">
    <div class="col-12 col-md-3">
      <div class="card border-1 rounded-4">
        <div class="bg-primary relative d-flex justify-content-center" style="height: 100px">
          <img src="images/default-avatar.webp" height="60" width="60" alt="profile image" style="position: absolute; top: 70px"/>
        </div>
        <div style="height: 200px">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <app-post></app-post>
    </div>
    <div class="col-12 col-md-3">
      <div class="card border-1 rounded-4">
        <div class="card-header pt-3">
          <div class="d-flex flex-row">
            <img src="images/trophy.png" height="32" width="32" alt="profile image" class="me-2"/>
            <h3 class="fs-6 text-nowrap text-truncate">{{'challenge_name_or_title'| translate}}</h3>
          </div>
        </div>
        <div class="bg-secondary pt-0 d-flex justify-content-center" style="height: 230px">
          <img src="images/trophy.png" height="64" width="64" alt="profile image" class="me-2 mt-3"/>
        </div>

      </div>
    </div>
  </div>
</div>


